.left_sidebar{
  overflow: auto;
  .sidebar_content{
    padding: 10px;
  }
}

.green_box{
  @extend .well;
  background: $greenLight;
  border: $green 1px solid;
  @include border-radius(5px);
  h4{
    margin-top:0;
  }
}

#mode-toggle-btns{
  label.active{
    // background-image: image-url('mode_selected.png');
    // background-position: top left;
    // background-size: 20px 20px;
    // background-repeat: no-repeat;
    // overflow: hidden;
    font-weight:bold;
  }
  input[name='mode']{
    display:none;
  }
  i.walking-icon{
    background: image-url('walking.png') center no-repeat;
  }
  i.cycling-icon{
    background: image-url('cycling.png') center no-repeat;
  }
  i.walking-icon, i.cycling-icon{
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    background-size: 14px 14px;
    margin-top: 1px;
    margin-right: 5px;
  }

}

#mapdiv{
  // height:400px;
  height: 100%;
  img{
    max-width: none;
  }
  label {
    width: auto;
    display:inline;
  }
}

footer{
  background: $greenLight;
  border-top: $green 1px solid;
  padding: 20px 0 10px;
  p{
    @extend .text-center;
    margin: 0;
  }
}
