<div class="header_block">
    <div class="left">
        <!-- / -->
    </div>
    <div class="middle">
        <ul>
            <li style="border-left: none; padding-left: 4px;">
                <a href="/" class="selected">Home</a>
            </li>
            <li>
                <a href="/routing/help" class="selected" onclick="try{return window.goHelp()}catch(a){return true}">Intro</a>
            </li>
            <li>
                <a href="/routing/moremaps" class="selected">More Maps</a>
            </li>
            <li>
                <a href="/routing/terms" class="selected">Terms</a>
            </li>
            <li style="border-right: none; padding-right: 4px;">
                <a href="mailto:Journey.Planner@gw.govt.nz" class="selected" >Contact &amp; Feedback</a>
            </li>

        </ul>
        <div class="clear"><!-- / --></div>
    </div>
    <div class="right">
        <!-- / -->
    </div>
</div>
