<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Cycling &amp; Walking Journey Planner</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale = 1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
      <div class="header_top">
        <div class="header_block">
            <div class="left">
                <!-- / -->
            </div>
            <div class="middle">
                <ul>
                    <li style="border-left: none; padding-left: 4px;">
                        <a href="/" class="selected">Home</a>
                    </li>
                    <li>
                        <a href="/routing/help" class="selected" onclick="try{return window.goHelp()}catch(a){return true}">Intro</a>
                    </li>
                    <li>
                        <a href="/routing/moremaps" class="selected">More Maps</a>
                    </li>
                    <li>
                        <a href="/routing/terms" class="selected">Terms</a>
                    </li>
                    <li style="border-right: none; padding-right: 4px;">
                        <a href="mailto:support@journeyplanner.org.nz" class="selected" >Contact &amp; Feedback</a>
                    </li>
                    <div class="clear">
                        <!-- / -->
                    </div>
                </ul>
            </div>
            <div class="right">
                <!-- / -->
            </div>
        </div>
        <a href="/" title="Home">
          <img alt="Journeyplanner_logo" src="/images/header/journeyplanner_logo.jpg" class="product_logo">
        </a>
        <img src='/images/header/gwrc_logo.png' class="council_logo" />
      </div>
      <div class="header_bottom">
        <form class='pull-left'>
          <select id="councils" name="councils"><option value="">Select a Region</option>
            <option value="Hutt City">Hutt City</option>
            <option value="Kapiti">Kapiti</option>
            <option value="Porirua">Porirua</option>
            <option value="Wairarapa">Wairarapa</option>
            <option value="Wellington City">Wellington City</option>
          </select>
        </form>

        <div class="print_share_box" id="print_share_box">

            <div class='pull-left'>
                <a href="#" onclick="try{window.print_url()}catch(a){};return false" class="print">Print Map</a>
                | Share Journey: <a href="#" onclick="try{window.email_drop_down_box()}catch(a){};return false">Email</a>
                | <a href="#" onclick="try{window.link_drop_down_box()}catch(a){};return false">Link</a>
                |
            </div>
            <a href="#" class="facebook social-share-links" id="share-link-facebook" title="share your map on Facebook"><!-- / --></a>
            <a href="#" class="delicious social-share-links" id="share-link-delicious" title="bookmark this map on Delicious"><!-- / --></a>
            <a href="#" class="google social-share-links" id="share-link-google" title="bookmark this map on Google"><!-- / --></a>
            <a href="#" class="stumble social-share-links" id="share-link-stumble" title="share this map on StumbleUpon"><!-- / --></a>
            <a href="#" class="twitter social-share-links" id="share-link-twitter" title="tweet about this map on Twitter"><!-- / --></a>
        </div>
        <div class="clear">
            <!-- / -->
        </div>
        <div id="global_loading_indicator" style="display: none;">
          <strong>Loading ...</strong>
        </div>

      </div>
      <div class='clear'></div>
      <div class="container-fluid" id='body-content'>
        <div class="row-fluid">
          <div class="span3 left_sidebar">
            <div class="sidebar_content">
              <form action='#' id="journey_form" class='green_box'>
                <h4>Directions:</h4>
                <fieldset></fieldset>
              </form>
              <div class='tabbable'>
                <ul class='nav nav-tabs'>
                  <li class='active'><a href='#examples' data-toggle='tab'>Examples</a></li>
                  <li><a href='#results' data-toggle='tab'>Results</a></li>
                </ul>
                <div class="tab-content">
                  <div class='tab-pane active' id='examples'></div>
                  <div class='tab-pane' id="results"></div>
                </div>
              </div>
            </div>
            <footer>
              <p>How can we make Journey Planner better for you?</p>
              <p><a href="mailto:support@journeyplanner.org.nz" >Please send us your feedback</a></p>
              <p>&copy; 2013 Greater Wellington Regional Council</p>
            </footer>
          </div>
          <div class="span9 right_body">
            <div id='mapdiv' class='googlemap'></div>
            <div id="elevation_graph"></div>
          </div>
        </div>
      </div>


        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <script type='text/javascript' src='http://www.addressfinder.co.nz/assets/v2/widget.js'></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

        <!-- build:js scripts/main.js -->
        <script data-main="scripts/main" src="components/requirejs/require.js"></script>
        <!-- endbuild -->

        <script id="journey-form" type='text/html'>
            <div class='control-group'>
              <div class="btn-group span12" id="mode-toggle-btns" data-toggle="buttons-radio">
                <label for='mode_walking' class="btn btn-success span6 <%= modeActive('walking') %>">
                  <input id='mode_walking' name="mode" type='radio' value="walking" <%= modeChecked('walking') %> /><i class='walking-icon'></i> Walking
                </label>
                <label for='mode_cycling' class="btn btn-success span6 <%= modeActive('cycling') %>">
                  <input id='mode_cycling' name="mode" type='radio' value="cycling" <%= modeChecked('cycling') %> /><i class='cycling-icon'></i> Cycling
                </label>
              </div>


              <div class='clearfix'></div>
            </div>
            <div id='waypoints'></div>

            <a href='#' class='btn btn-link add-waypoint'>+ Add Destination</a>
            <input type='submit' class='btn btn-primary btn-block' value='Get Directions &raquo;'>
        </script>

        <script id="waypoint_fields" type="text/html">
          <label for='waypoint_<%= fieldIndex() %>_a'>
          <% if (fieldIndex() === 0){ %>
            From:
          <% } else { %>
            To:
          <% } %>
          </label>
          <div class="controls">
            <input id='waypoint_<%= fieldIndex() %>_a' name='waypoints[<%= fieldIndex() %>][a]' value="<%= a %>" type='search' required class="span12 search-query" placeholder="Enter Address">
            <input id='waypoint_<%= fieldIndex() %>_x' name='waypoints[<%= fieldIndex() %>][x]' value="<%= x %>" type='hidden' required >
            <input id='waypoint_<%= fieldIndex() %>_y' name='waypoints[<%= fieldIndex() %>][y]' value="<%= y %>" type='hidden' required >
            <% if (showClose()){ %>
              <a href='#' class="close">&times;</a>
            <% } %>
          </div>
        </script>

        <script id='journey-sidebar' type="text/html">
          <h4><%= description() %></h4>
          <p><%= totalDistance() %></p>
          <ol></ol>
        </script>
        <script id='step-item' type='text/html'>
          <%= description %>
        </script>

</body>
</html>
