@import "mixins";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/transition";


#mapdiv{
  height: 350px;
}

ul.print-options{
  position: absolute;
  top: 160px;
  left: 10px;
}

.big-icon{
  font-size:36px;
}

.left_sidebar{
  overflow: auto;
  .sidebar_content{
    padding: 10px;
  }
  .nav{
    margin-bottom: 0;
  }
  .tab-content{
    padding: 20px 10px 10px;
    border: 1px solid #ddd;
    border-top: none;
  }
}

#examples{
  #example_modes a.selected{
    font-weight: bold;
  }
  li.highlight{
    background: $greenLight;
  }
}

.green_box{
  @extend .well;
  background: $greenLight;
  border: $green 1px solid;
  @include border-radius(5px);
  h4{
    margin-top:0;
  }
}

#journey_form{
  div.controls{
    padding-right: 25px;
    position: relative;
    a.close{
      position: absolute;
      right: 0;
      top:6px;
    }
  }
}

#mode-toggle-btns{
  label.active{
    font-weight:bold;
  }
  input[name='mode']{
    display:none;
  }
}

.example_marker_label{
  color: red;
   font-size: 12px;
   text-align: center;
   width: 23px;
   white-space: nowrap;
}

.right_body{
  border-left: solid 1px $green;
  @include box-sizing(border-box);
  position: relative;
  // @include transition-property(padding-bottom);
  // @include transition-duration(500ms);
  // @include transition-timing-function(ease-out);
  padding-bottom: 27px;
  #mapdiv{
    height: 100%;
    img{
      max-width: none;
    }
    label {
      width: auto;
      display:inline;
    }
  }

  .details_panel{
    overflow: hidden;
    position:absolute;
    bottom: 0;
    height: 27px;
    width: 100%;
    // @include transition-property(height);
    // @include transition-duration(500ms);
    // @include transition-timing-function(ease-out);
    @include box-shadow( rgba(#000, 0.1)  0 0 5px);
    #detail_hide{
      display: none;
    }
    #detail_show{
      display: inline;
    }
    .navbar{
      margin-bottom: 0;
      .navbar-inner{
        border-left: none;
        border-right: none;
        @include border-radius(0);
      }
      .brand{
        font-size: 13px;
        font-weight: bold;
      }
      ul.nav{
        display: none;
      }
    }
    .tab-pane{
      padding: 0 20px;
    }
  }
  .map-options{
    position: absolute;
    top: 5px;
    right: 10px;
    .nav-pills > li > a{
      background: #fff;
      background: rgba(#fff, 0.9);
      color: $teal !important;
      margin-left: 10px;
      @include box-shadow(rgba(#000, 0.3) 0 0 5px);
    }
  }

  &.examples{
    padding-bottom: 0;
    .details_panel{
      display:none;
    }
  }

  &.expanded{
    padding-bottom: 160px;
    .details_panel{
      height: 160px;
      display: block;
      #detail_hide{
        display: inline;
      }
      #detail_show{
        display: none;
      }
      ul.nav{
        display: block;
      }
    }

  }
}

#results{
  .info_bar{
    font-weight:bold;
    dd{
      margin-left:105px;
      color:#00626d;
      line-height:34px;
      font-size: 16px;
    }
    dt{
      width: 100px;
      font-size: 11px;
      color: #414141;
      line-height:34px;
      text-align: left;
      &.open{
        overflow: visible;
      }
    }
  }
  #loading_indicator {
    text-align: center;
    width: 100%;
    height: 30px;

  }

  #loading_indicator > * {
      background-color: $orange;
      display: inline-block;
      height: 12px;
      @include border-radius(6px);
      margin: 0 5px;
      width: 12px;
      @include animation(LoadingIndicator 1.6s infinite linear);
      &:nth-child(2){
        @include animation-delay(100ms);
      }
      &:nth-child(3){
        @include animation-delay(200ms);
      }
  }


}

#link-modal{
  textarea{
    cursor: text;
    font-size: 1em;
  }
}



footer{
  background: $greenLight;
  border-top: $green 1px solid;
  padding: 20px 0 10px;
  p{
    @extend .text-center;
    margin: 0;
  }
}




@include keyframe(LoadingIndicator){
    0% {
      opacity: 1
    }
    25% {
      opacity: 0.1
    }
    50% {
      opacity: 1
    }
    75%{
      opacity: 0.1
    }
}
