@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/transition";

.big-icon{
  font-size:36px;
}

.left_sidebar{
  overflow: auto;
  .sidebar_content{
    padding: 10px;
  }
  .nav{
    margin-bottom: 0;
  }
  .tab-content{
    padding: 20px 10px 10px;
    border: 1px solid #ddd;
    border-top: none;
  }
}

.green_box{
  @extend .well;
  background: $greenLight;
  border: $green 1px solid;
  @include border-radius(5px);
  h4{
    margin-top:0;
  }
}

#mode-toggle-btns{
  label.active{
    font-weight:bold;
  }
  input[name='mode']{
    display:none;
  }
  i.walking-icon{
    background: image-url('walking.png') center no-repeat;
  }
  i.cycling-icon{
    background: image-url('cycling.png') center no-repeat;
  }
  i.walking-icon, i.cycling-icon{
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    background-size: 14px 14px;
    margin-top: 1px;
    margin-right: 5px;
  }

}

.right_body{
  @include box-sizing(border-box);
  position: relative;
  @include transition-property(padding-bottom);
  @include transition-duration(500ms);
  @include transition-timing-function(ease-out);
  padding-bottom: 27px;
  #mapdiv{
    height: 100%;
    img{
      max-width: none;
    }
    label {
      width: auto;
      display:inline;
    }
  }

  .details_panel{
    overflow: hidden;
    position:absolute;
    bottom: 0;
    height: 27px;
    width: 100%;
    @include transition-property(height);
    @include transition-duration(500ms);
    @include transition-timing-function(ease-out);
    #detail_hide{
      display: none;
    }
    #detail_show{
      display: inline;
    }
    .navbar{
      margin-bottom: 0;
      .navbar-inner{
        border-left: none;
        border-right: none;
        @include border-radius(0);
      }
      .brand{
        font-size: 13px;
        font-weight: bold;
      }
      ul.nav{
        display: none;
      }
    }
    .tab-pane{
      padding: 0 20px;
    }
  }
  .map-options{
    position: absolute;
    top: 5px;
    right: 10px;
    .nav-pills > li > a{
      background: #fff;
      background: rgba(#fff, 0.9);
      color: $teal !important;
      margin-left: 10px;
      @include box-shadow(rgba(#000, 0.3) 0 0 5px);
    }
  }

  &.expanded{
    padding-bottom: 160px;
    .details_panel{
      height: 160px;
      display: block;
      #detail_hide{
        display: inline;
      }
      #detail_show{
        display: none;
      }
      ul.nav{
        display: block;
      }
    }

  }
}

#results{
  .info_bar{
    font-weight:bold;
    dd{
      margin-left:105px;
      color:#00626d;
      line-height:34px;
      font-size: 16px;
    }
    dt{
      width: 100px;
      font-size: 11px;
      color: #414141;
      line-height:34px;
      text-align: left;
      &.open{
        overflow: visible;
      }
    }
  }
}



dl.journey-details{
  dt{
    width: 110px;
    text-align: left;
  }
  dd{
    margin-left: 115px;
  }
}

.start_address, .finish_address{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  span{
    display: inline-block;
    @include box-shadow(rgba(#000, 0.5) 0 0 10px inset);
    padding: 2px 10px;
    margin-right: 5px;
    @include border-radius(5px);
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
  }
}

.start_address span{
  background-color: #71b320;
}

.finish_address span{
  background-color: #A8060E;
}

footer{
  background: $greenLight;
  border-top: $green 1px solid;
  padding: 20px 0 10px;
  p{
    @extend .text-center;
    margin: 0;
  }
}
