@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #mode-toggle-btns{
      i{
        background-size: 43px 26px;
      }
      i.walking-icon{
        background-position: -27px -1px;
      }
      i.cycling-icon{
        background-position: -10px -1px;
      }
    }
}
