ul.af_list {
  font-family: $sansFontFamily;
  list-style: none;
  padding: 0;
  margin: -1px 0 0 12px;
  border: 1px solid #cccccc;
  background: white;
  width: 274px;
  @include border-radius(0 0 5px 5px);
}
li.af_item {
  cursor: pointer;
  padding: 0 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1em;
}
li.af_hover {
  background-color: $aqua;
  color: white;
}
li.af_footer {
  font-size: 0.8em;
  color: #666;
  text-align: right;
}
