dl.journey-details{
  dt{
    width: 110px;
    text-align: left;
  }
  dd{
    margin-left: 115px;
  }
}

.start_address, .finish_address{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  span{
    display: inline-block;
    @include box-shadow(rgba(#000, 0.5) 0 0 10px inset);
    padding: 2px 10px;
    margin-right: 5px;
    @include border-radius(5px);
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
  }
}

.start_address span{
  background-color: #71b320;
}

.finish_address span{
  background-color: #A8060E;
}
