@import "./_colors";
@import url(http://fonts.googleapis.com/css?family=Lato:300,700);

$iconSpritePath: "../img/glyphicons-halflings.png";
$iconWhiteSpritePath: "../img/glyphicons-halflings-white.png";
$gridGutterWidth: 0px;

$linkColor: #004a59;
$btnPrimaryBackground: $orange;
$btnPrimaryBackgroundHighlight: darken($orange, 10%);
$btnSuccessBackground: lighten($teal, 5%);
$btnSuccessBackgroundHighlight: darken($teal, 5%);
$btnInfoBackground: white;
$btnInfoBackgroundHighlight: white;

$navbarHeight: 25px;
$navbarBackgroundHighlight: $greenLight;
$navbarBorder: $green;
$navbarText: #444;
$navbarLinkColor: #444;
$navbarLinkColorActive: #444;

$warningBorder: darken($orange, 5%);

$sansFontFamily: 'Lato', sans-serif;

$FontAwesomePath: "/components/font-awesome/font";
@import "sass-bootstrap/lib/bootstrap";
@import "font-awesome/scss/font-awesome";
@import "header";
@import "body";
@import "graph";
@import "search_widget";

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #444;
  text-align: left;
}

