@import "colors";

// $iconSpritePath: "../img/glyphicons-halflings.png";
// $iconWhiteSpritePath: "../img/glyphicons-halflings-white.png";
$gridGutterWidth: 0px;

$linkColor: #004a59;
$btnPrimaryBackground: $orange;
$btnPrimaryBackgroundHighlight: darken($orange, 10%);
$btnSuccessBackground: lighten($teal, 5%);
$btnSuccessBackgroundHighlight: darken($teal, 5%);
$btnInfoBackground: white;
$btnInfoBackgroundHighlight: white;

$navbarHeight: 25px;
$navbarBackgroundHighlight: $greenLight;
$navbarBorder: $green;
$navbarText: #444;
$navbarLinkColor: #444;
$navbarLinkColorActive: #444;

$warningBorder: darken($orange, 5%);

@import "sass-bootstrap/lib/bootstrap";
@import "icomoon";
@import "header";
@import "body";
@import "graph";
@import "search_widget";
@import "retina";

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #444;
  text-align: left;
}

