<div class="row-fluid">
  <div class="span3 left_sidebar">
    <div class="sidebar_content">
      <form action='#' id="journey_form" class='green_box'>
        <h4>Directions:</h4>
        <fieldset></fieldset>
      </form>
      <div class='tabbable'>
        <ul class='nav nav-tabs'>
          <li class='active'><a href='#examples' data-toggle='tab'>Examples</a></li>
          <li><a href='#results' data-toggle='tab'>Results</a></li>
        </ul>
        <div class="tab-content">
          <div class='tab-pane active' id='examples'></div>
          <div class='tab-pane' id="results"></div>
        </div>
      </div>
    </div>
    <footer>
      <p>How can we make Journey Planner better for you?</p>
      <p><a href="mailto:support@journeyplanner.org.nz" >Please send us your feedback</a></p>
      <p>&copy; 2013 Greater Wellington Regional Council</p>
    </footer>
  </div>
  <div class="span9 right_body">
    <div id='mapdiv' class='googlemap'></div>
    <div id="elevation_graph"></div>
  </div>
</div>
