<ul class="inline print-options">
  <li><a href='javascript:window.print();' class="btn btn-primary" >Print</a></li>
  <li><a href='javascript:window.history.back();' class='btn btn-link'>cancel</a></li>
</ul>
<div class="container">
  <div id='mapdiv' class='google-map'></div>
  <div id="results"></div>
  <footer>
    <p>&copy; 2013 Greater Wellington Regional Council</p>
  </footer>
</div>



<% content_for :javascript do %>
  <%= javascript_include_tag "vendor/require", data:{main: asset_path(:js, :main)} %>
<% end %>
